<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audi</title>
</head>
<body>
<h1>Audi</h1>

<p>Audi AG ) is a German automotive company within the Volkswagen Group,
    specializing in the production of cars under the Audi brand.</p>
<p>The headquarters is located in the city of Ingolstadt (Germany).</p>
<p>The motto is Vorsprung durch Technik. — "Progress through technology").</p>
<p>The production volume in 2016 was about 1,903,259 vehicles.</p>

<a href="/cars/show">Back</a>
<img src="/image/audi.jpg" alt="Audi">

</body>
</html>